/* raleway-regular-latin */
@font-face{
    font-family: 'Raleway';
    src: local('') 
         url('../Fonts/raleway-v18-latin-regular.eot'), /* IE9 Compat Modes */
         url('../Fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/raleway-v18-latin-regular.svg') format('svg'); /* Legacy iOS */
        }

#bloc_page {
    width:1440px;   /*1440px*/
    height:1884px;}     /*1884px*/

                                                                            /* HEADER */
header {
    height: 380px;
    border: 1px solid blue}

#logoGauche {           /*Applique le logo a gauche selon la maquette*/
    position:absolute;
    height:50px;
    width:100px;     
    left: 55px;
    top: 50px;}

nav {                /*Zone navigation en haut a droite*/
    display:flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    border: 1px solid green;}
nav ul {
    display:flex;
    list-style-type: none;
    position: absolute;
    right: 0px;
    top: 0px;
    margin:0px;
    border: 1px solid black;}
nav li {
    display:flex;
    align-content: center;
    margin:65px;
    margin-right: 75px;
    margin-top: 50px;;
    border: 1px solid red;}

nav a#nav1 {
    color: #deebff;
    border-top: 1px solid blue;}
nav a#nav2 {
    color:grey;}
nav a#nav3 {
    color:#0065FC;}
a {
    text-decoration: none;}

#boxr {
    display: flex;
    align-content: center;
    margin-left: 50px;
    height: 40px;
    width: 320px;
    border:1px solid red}
#boxr i {
    background-color: gainsboro;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 35px;
    width: 30px;}
#lieu {
    display:inline-block;
    height:35px;}
#Rechercher {
    display:inline-block;
    height: 35px;
    width: 80px;
    text-transform: none;
    color: white;
    background-color: #0065fc;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid black;}

#th1 {
    margin-top:130px;
    margin-left: 55px;
    margin-bottom: 10px;}
#th2 {
    margin-left: 55px;}

#boxf {      /*Filtres selon envie*/
    display: flex;
    flex-direction: row;
    height: 20px;
    margin:30px;
    margin-left: 65px;}
#filtres {
    display:flex;
    flex-direction: row;
    height: 20px;
    width: 60px;
    border: 1px solid grey}
.positionf {
    display:flex;
    flex-direction: row;
    height:25px;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px solid green;}
#choix {
    display:flex;
    text-align: center;
    align-self: center;
    height:100%;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border: 1px solid red}
#boxf i {
    color:blue;
    background-color: cornflowerblue;
    height:21px;
    width: 20px;
    padding:2px;
    border-radius: 50%;
    border: 1px soid black;}

header p {
    margin-top: 2px;
    margin-left: 65px;}

                                                                        /*BODY*/

body {
    margin:0px;}

section {
    display:flex;}

#boxmiddle {
    display:flex;
    margin:20px;}

                                                                        /*SECTION 1*/
#boxsection1 {
    display: flex;
    flex-direction: column;
    height: 625px;   /*625px*/
    width: 880px;   /*880px*/
    border-radius: 10px;
    margin-left: 50px;
    background-color:#b0b0b0;
    border: 1px solid black;}
#boxsection1 img {
    display:flex;
    position: absolute;
    top: 1px;
    height:150px;
    width: 245px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
    border: 1px solid blue;}
#Logements {
    display:flex;
    flex-wrap: wrap;
    width:auto;
    margin: 18px;
    border: 1px solid green;}
.boximg1 {
    display:flex;
    position: relative;
    height:200px;
    width: 247px;
    border-radius: 10px;
    margin: 10px;
    padding:1px;
    background-color: white;
    border:1px solid brown;}
.logs1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1px;
    text-align: left;
    background-color: white;
    height:80px;
    width: 235px;
    padding-left: 10px;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;}
.ts11 {
    display: flex;
    position: static;
    margin-top:10px;
    margin-left:20px;
    height: 50px;}       
.ts12 {
    display:flex;
    position: static;
    margin-bottom: 10px;
    margin-left:20px;
    height:50px;}
#nom {
    font-weight:bold;}
#prix {
    font-style:italic;}
#note {
    color: #0065fc;}

                                                            /*SECTION 2*/
#section2 {
    display: flex;
    flex-direction: column;
    background-color: #b0b0b0;
    margin-left:50px;
    height:625px;
    width: 420px;
    border-radius: 10px;
    border: 1px solid blue}
#section2 img {
    float: left;
    height:130px;
    width: 128px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid orange;}
.boximg2 {
    display:flex;
    flex-direction: row;
    background-color: white;
    width:340px;
    padding:3px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;}
.logs2 {
    display:flex;
    flex-direction: column;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid red;}
.inlinetext {
    display:inline-block;
    margin-left: 37px;}
.inlinetext i {
    margin-right:40px;
    font-size: 20px;}

                                                            /*SECTION 3*/
#section3 {
    display:flex;
    flex-direction: row;
    height: 540px;
    width: 1440px;
    margin-top: 50px;
    background-color:white;
    border-radius: 10px;
    border: 1px solid green;}
#section3 img {
    height: 100%;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    border: 1px solid pink}
#Activites {
    display: flex;
    flex-direction: column;
    height:fit-content;
    width: 300px;
    border-radius: 10px;
    border: 1px solid blue;}
.nom3 {
    position: static;
    bottom: 0px;
    padding-left: 7px;
    height:56px;
    background-color: white;
    border: 1px solid green;}
.bloc-double-img {
    height:fit-content;
    margin:20px;
    border:1px solid black;}
.img31,.img34 {
    height:390px;}
.img32 {
    height:180px;}
.img33 {
    height:110px;}
.img35 {
    height:140px;}
.img36 {
    height:150px;}
.ts31 {
    margin-left:50px;
    height: 30px;}

                                                                        /*FOOTER*/

footer {    /*Bloc FOOTER*/
    height:210px;
    width: auto;
    border:1px solid black;}
#Contact {      /*Bloc de fin*/
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    vertical-align: middle;
    padding-left:30px;
    padding-right: 300px;
    padding-top: 60px;
    height:215px;
    background-color:#b0b0b0;}

@media all and (max-device-widht: 768px) {                      /*Règle CSS pour écran */
    }