/* raleway-regular-latin */
@font-face{
    font-family: 'Raleway';
    src: local('') 
         url('../Fonts/raleway-v18-latin-regular.eot'), /* IE9 Compat Modes */
         url('../Fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/raleway-v18-latin-regular.svg') format('svg'); /* Legacy iOS */
        }

#bloc_page {
    width:1440px;   /*1440px*/
    height:1884px;}     /*1884px*/

                                                                            /* HEADER */
header {
    height: 380px;
    border: 1px solid blue}

#logoGauche {           /*Applique le logo a gauche selon la maquette*/
    position:absolute;
    height:50px;
    width:100px;     
    left: 55px;
    top: 50px;}

nav {                /*Zone navigation en haut a droite*/
    display:flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    border: 1px solid green;}
nav ul {
    display:flex;
    list-style-type: none;
    position: absolute;
    right: 0px;
    top: 0px;
    margin:0px;
    border: 1px solid black;}
nav li {
    display:flex;
    align-content: center;
    margin:65px;
    margin-right: 75px;
    margin-top: 50px;;
    border: 1px solid red;}

nav a#nav1 {
    color: #deebff;
    border-top: 1px solid blue;}
nav a#nav2 {
    color:grey;}
nav a#nav3 {
    color:#0065FC;}
a {
    text-decoration: none;}

#boxr {
    display: flex;
    align-content: flex-start;
    margin-left: 50px;
    height: 40px;
    width: 320px;
    border:1px solid red}
#lieu {
    display:inline-block;
    height:35px;
    border: 1px solid green;}
#Rechercher {
    display:inline-block;
    list-style-type: none;
    height: 35px;
    width: 80px;
    text-align: center;
    text-transform: none;
    color: white;
    background-color: blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid black;}

#th1 {
    margin-top:130px;
    margin-left: 55px;
    margin-bottom: 10px;}
#th2 {
    margin-left: 55px;}

#boxf {      /*Filtres selon envie*/
    display: flex;
    flex-direction: row;
    height: 20px;
    margin:30px;
    margin-left: 65px;}

#filtres {
    display:flex;
    flex-direction: row;
    height: 20px;
    width: 60px;
    border: 1px solid blue;}
.positionf {
    display:flex;
    flex-direction: row;
    height:20px;
    padding:2px;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid green;}
#choix {
    display:inline-block;
    margin-left:0px;
    height:20px;
    border: 1px solid red}
#boxf i {
    color:blue;
    height:20px;
    border-radius: 5px;
    border: 1px solid black;}

header p {
    margin-top: 2px;
    margin-left: 65px;}

                                                                        /*BODY*/

body {
    margin:0px;}

section {
    display:flex;}

#boxmiddle {
    display:flex;
    margin:20px;}

img:hover {
    transform:scale(1.01);
    transition: 0.2 all;}

                                                                        /*SECTION 1*/
#boxsection1 {
    display: flex;
    height: 625px;   /*625px*/
    width: 880px;   /*880px*/
    border-radius: 10px;
    margin-left: 20px;
    background-color:grey;
    border: 1px solid black;}
#boxsection1 img {
    display:flex;
    position: absolute;
    top: 1px;
    height:150px;
    width: 245px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
    border: 1px solid blue;}
#Logements {
    display:flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 75px;
    border: 1px solid green;}
.boximg1 {
    display:flex;
    position: relative;
    height:200px;
    width: 247px;
    border-radius: 10px;
    margin: 10px;
    padding:1px;
    background-color: white;
    border:1px solid brown;}
.logs1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1px;
    text-align: left;
    background-color: white;
    height:60px;
    width: 235px;
    padding-left: 10px;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;}
.ts11 {
    position: relative;
    top:10px;
    left:10px;}       
.ts12 {
    position: relative;
    bottom: 10px;
    left:10px;}
#nom {
    font-weight:bold;}
#prix {
    font-style:italic;}
#note {
    color: blue;}

                                                            /*SECTION 2*/
#boxsection2 {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin-left:50px;
    height:625px;
    width: 420px;
    border-radius: 10px;
    border: 1px solid blue}
#boxsection2 img {
    display: flex;
    float: left;
    height:130px;
    width: 128px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid orange;}
#TopLogement {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    border: 1px solid green;}
.top {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 135px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;}
.boximg2 {
    display:flex;
    flex-direction: row;
    width: 100%;
    padding:1px;
    border-radius: 10px;
    border: 1px solid pink;}
.logs2 {
    display:flex;
    flex-direction: column;
    text-align: left;
    vertical-align: initial;
    padding-left: 10px;
    padding-top: 10px;
    margin-top:2px;
    border: 1px solid red;}
.ts21 {
    position: absolute;
    margin-top: 7px;
    margin-left:25px;}


                                                            /*SECTION 3*/
#boxsection3 {
    display:flex;
    flex-direction: row;
    height: 300px;
    width: 1440px;
    margin-top: 80px;
    background-color:white;
    border-radius: 10px;
    border: 1px solid green;}
#boxsection3 img {
    display:flex;
    height: 100px;
    width: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    border: 1px solid pink}
#Activités {
    display: flex;
    margin:20px;
    border: 1px solid blue;}
.boximg3 {
    display:flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 1px;
    height:130px;
    width:152px;}
.nom3 {
    display:flex;
    flex-direction: row;
    position: relative;
    bottom: 0px;
    height:30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    border: 1px solid green;}
.ts31 {
    display: inline-block;
    height: 30px;
    width: 300px;
    top:2px;
    left:2px;}

                                                                        /*FOOTER*/

footer {    /*Bloc FOOTER*/
    height:215px;
    width: auto;
    margin:0px;
    border:1px solid black;}
#Contact {      /*Bloc de fin*/
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    vertical-align: middle;
    padding-left:30px;
    padding-right: 300px;
    padding-top: 60px;
    height:215px;
    background-color:grey;}

@media all and (max-device-widht: 768px) {                      /*Règle CSS pour écran */
    }