@font-face{                                                 /* raleway-regular-latin */
    font-family: 'Raleway';
    src: local('') 
         url('../Fonts/raleway-v18-latin-regular.eot'), /* IE9 Compat Modes */
         url('../Fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/raleway-v18-latin-regular.svg') format('svg'); /* Legacy iOS */
        }
@media screen and (min-width: 768px) {                           /*Début MédiaQueries pour desktop */

                                                                            /*Modif Global*/
#bloc_page {                /*1440px*/
    margin-left: 55px;
    margin-right: 50px;}

body {
    font-family:'Raleway';
    margin:auto;
    max-width:1440px;}

                                                                                /* HEADER */
header {
    display:flex;
    justify-content: space-between;}

#logoGauche {                                                       /*Applique le logo a gauche selon la maquette*/
    margin-top:45px;
    left: 0px;}

                                                                        /*Zone navigation en haut a droite*/
ul {
    display:flex;}
li {
    list-style-type: none;
    margin-top:50px;
    margin-left: 70px;}
a {
    text-decoration: none;}
li a#current1 {
    padding: 50px 20px 0 20px;
    border-top: 1px solid #106ffc;
    color: #106ffc;
    border: 1px soid red;}
li a#current2 {
    color:#bfbfbf;}
li a#current3 {
    color:#0065fc;}
                                                                                    /* FIN HEADER */
                                                                            /*Zone de transition header body*/
#title {
    margin-top: 50px;
    margin-bottom: 20px;}
#title h1 {
    font-size: 1.5em;
    margin-bottom: 0%;}
#title p {
    margin-top: 5px;}

#search {                                                                               /*Search*/
    height: 50px;
    width: fit-content;
    margin-top:20px;}
#search i {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 15px;
    height: 35px;
    width: 45px;
    font-size: 1.2em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}
#lieu {
    padding-left:20px;
    width:230px;    /*230*/
    height:45px;
    border:none;
    border-top:2px solid #f2f2f2;
    border-bottom:2px solid #f2f2f2;}
::placeholder {
    font-size:1.3em;
    font-weight: bold;}
#Rechercher {
    display: table;
    float:right;
    height: 50px;
    width:120px;
    text-transform: none;
    color: white;
    background-color: #0065fc;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;}
#Rechercher p {
    display:table-cell;
    font-size: 1.1em;
    vertical-align: middle;
    text-align: center;}
#Rechercher i {
    display:none;}


#filters {                                                                      /*Filtres selon envie*/
    display:flex;
    font-weight: bold;
    height:50px;
    margin:30px 0 0 10px;}
.bloc-filtre1,.bloc-filtre2 {
    display:flex;}
.positionf {
    display: flex;
    margin-left: 20px;
    border-radius: 40px;
    border: 2px solid #d9d9d9;}
.positionf p {
    margin-left:10px;
    margin-right: 20px;}
.positionf span {
    height:40px;    /*40*/
    width:50px;     /*50*/
    padding-top: 10px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065fc;}

.sous-filters {
    margin-top:40px;
    margin-left: 10px;}
.sous-filters i {
    color:white;
    background-color: #0065fc;
    border: 1px solid #DEEBFF;
    border-radius: 50%;}
                                                                        /*Fin de zone de transition*/
                                                                                 /*BODY*/

#boxmiddle {
    display:flex;
    margin-top:40px;}

                                                                            /*SECTION 1*/
#section1 {
    width: 65%; 
    border-radius: 20px;
    background-color:#f2f2f2;}
#section1 img {
    height:115px; /*115*/
    width: 100%; /*240*/
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;}
#section1 h3 {
    margin:40px 0 20px 40px;}
#section1 h4 {
    margin:0 0 0 40px;}
#container-tuiles1 {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;  /*40*/
    padding-left:40px;
    margin: auto;
    width:fit-content;}
.Tuiles1 {
    background-color: white;
    padding:4px;
    margin-right: 3%; /*30*/
    margin-bottom: 30px;    /*30*/
    width:28%;
    box-shadow: 5px 3px 3px #d9d9d9;
    border-radius: 10px;}
.Description1 {
    padding-top:5px;
    margin-left:15px;}
.Description1 i {
    margin-right: 2px;}
.nom1 {
    margin:0%;
    font-weight:bold;}
.prix1 {
    margin-bottom: 0%;
    margin-top:5px;}
.prix1 span {
    font-weight: bold;}
.note1 {
    margin-top:5px;
    font-size: 0.8em;
    color: #0065fc;}
.far {
    color:#d9d9d9;}

                                                                                /*SECTION 2*/
#section2 {
    background-color: #f2f2f2;
    margin-left:40px;
    width: 35%;
    border-radius: 20px;}
#section2 img {
    height:130px;   /*130*/
    width: 30%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;}
.container-tuiles2 {
    display:flex;
    flex-direction: column;
    width:100%;}
.Tuiles2 {
    display:inline-flex;
    background-color: white;
    width:78%;    /*340*/
    margin:0 auto 8%;
    padding:5px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #d9d9d9;}
.Description2 {
    width:55%;    /*160*/
    padding-left: 15px;}
.Description2 i {
    margin-right:2px;}
.nom2 {
    margin-bottom: 0%;
    font-weight:bold;}
.prix2 {
    margin-top:5px;}
.prix2 span {
    font-weight: bold;}
.note2 {
    margin-top:20px;
    font-size: 0.8em;
    color: #0065fc;}
.inline-text-icon {
    display:flex;
    justify-content: space-between;
    width:auto;
    margin: 20px 30px 0 30px;}
.inline-text-icon i {
    display:flex;
    align-items: center;
    font-size: 27px;}

                                                                                /*SECTION 3*/
#section3 {
    margin-top: 65px;}
#section3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;}
.img31 {height:390px;}
.img32 {height:180px;}
.img33 {height:110px;}
.img34 {height:390px;}
.img35 {height:140px;}
.img36 {height:150px;}
#container-tuiles3 {
    display:flex;
    width:100%;}
.bloc-column1 {
    width:25%;}
.bloc-column2 {
    width:25%;}
.Tuiles3 {
    margin-right: 45px;
    margin-bottom: 45px;
    width:25%;
    box-shadow: 5px 3px 3px #d9d9d9;
    border-radius: 10px;}
.bloc-Tuiles3 {
    margin-right: 45px;
    margin-bottom: 45px;
    box-shadow: 5px 3px 3px #d9d9d9;
    border-radius: 10px;}
.Description3 {
    height:37px;
    padding-left: 20px;
    font-weight: bold;}

                                                                                /*FOOTER*/

footer {    /*Bloc FOOTER*/
    display:flex;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #f2f2f2;}
footer span {
    font-weight: bold;}
.Rubriques {
    margin-top:25px;}
.Rubriques p {
    margin-top:0%;
    margin-bottom:10px;}
.A.propos {
    margin-left:5%;} /*50*/
.Nos.hébergements {
    margin-left:15%;} /*230*/
.Assistance {
    margin-left:20%;} /*290*/
}                                                                       /*Fin MédiaQueries Desktop*/
                                                                                /*Fin BODY*/
@media screen and (max-width: 768px) {                                    /*Règle CSS pour mobile */

#bloc-page {
    width:auto;        /*width 0 > 768pxpx*/} 
body {
    font-family:'Raleway';
    margin:0%;}      
                                                                                        /* HEADER */
header {
    height:auto;}
#logoGauche {                                                       /*Applique le logo a gauche selon la maquette*/
    font-size: 1.5em;
    margin-top:30px;
    margin-left: 25px;}
       
nav {                                                                   /*Zone navigation en haut a droite*/
    width: 90%;
    margin:auto;
    border:1px solid green;}
ul {
    display:flex;
    margin:0%;}
li {
    height: 70px;
    list-style-type: none;}
a {
    text-decoration: none;}
#current1 {
    position: relative;
    margin-left:10%;
    color: #106ffc;}
#current2 {
    position: relative;
    margin-left:60%;
    color:#bfbfbf;}
#current3 {
    position: absolute;
    top: 45px;
    right: 30px;
    font-size: 1.1em;
    color:#0065fc;}
                                                                                            /* FIN HEADER */
                                                                                    /*Zone de transition header body*/
#title {
    padding-right: 2%;
    margin: 40px 0 20px 20px;
    font-size: 0.8em;}
#title h1 {
    margin-bottom: 0%;
    width: 90%;}
#title p {
    margin-top: 5px;
    width:80%;
    font-size: 1.5em;}
        
#search {                                                                              /*Search*/
    margin: auto;
    margin-top:40px;
    height:50px;
    width: 90%;}
::placeholder {
    padding-left:10px;
    font-size:1.4em;
    vertical-align: middle;
    color: black;
    font-style: bold;}
#search i {
    float: left;
    background-color: #f2f2f2;
    text-align: center;
    height: 35px;
    width: 11%;    /*45*/
    padding-top:15px;
    font-size: 1.2em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}
#lieu {
    padding-left: 10px;
    width:72.5%;    /*230*/
    height:45px;
    border:none;
    border-top:2px solid #f2f2f2;
    border-bottom:2px solid #f2f2f2;}
#Rechercher {
    float:right;
    width:11%;     /*50*/
    text-transform: none;
    border-radius: 7px;}
#Rechercher p {
    display:none;}
#Rechercher i {
    width:100%;
    color: white;
    background-color: #0065fc;
    text-align: center;
    border-radius: 8px;}
        
        
#filters {                                                                      /*Filtres selon envie*/
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin:auto;
    width:90%;
    margin-top: 40px;
    border: 1px solid black;}
.bloc-filtre1 {
    display:flex;
    width:100%;}
.bloc-filtre2 {
    display: flex;
    flex-direction: column;
    width: 60%;}
.positionf {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    width:100%;
    border-radius:40px;
    border: 2px solid #d9d9d9;}
.positionf p {
    font-size: 1.2em;
    margin:auto;}   /*15*/
.positionf span {
    height: 40px;
    width: 50px;
    padding-top: 10px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065fc;}
        
.sous-filters {
    width:90%;
    margin-top:35px;
    margin:auto;}
.sous-filters i {
    color:white;
    background-color: #0065fc;
    border: 1px solid #DEEBFF;
    border-radius: 50%;}
                                                                                /*Fin de zone de transition*/
                                                                                         /*BODY*/
        
#boxmiddle {
    display:flex;
    flex-direction: column-reverse;
    margin-top:40px;}
        
                                                                                    /*SECTION 2*/

#section2 {
    padding-bottom:35px;
    background-color: #f2f2f2;}
#section2 h3 {
    font-size: 1.5em;}
.inline-text-icon {
    display:flex;
    justify-content: space-between;
    margin:20px 20px 0 20px;}
.inline-text-icon i {
    margin-top:25px;
    font-size: 25px;}
.container-tuiles2 {
    display:flex;
    flex-direction: column;}
#section2 img {
    height:140px;   /*140*/
    width:130px;    /*130*/
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;}
.Tuiles2 {
    display:inline-flex;
    width:90%;    /*340*/
    margin:auto;
    padding:5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #d9d9d9;}
.Description2 {
    padding-left:15px;
    width:160px;}
.Description2 i {
    font-size: 0.9em;
    color:#0065fc;
    margin-right:2px;}
.Description2 span {
    font-weight: bold;}
.nom2 {
    margin-bottom: 2px;
    font-weight:bold;}
.prix2 {
    margin-top:5px;}
.note2 {
    margin-top:30px;
    font-size: 0.9em;
    color: #0065fc;}

#section1 {
    width:100%;}
#section1 h3 {
    font-size: 1.5em;;
    margin:40px 0 20px 20px;}
#section1 h4 {
    font-size: 1.2em;;
    margin:20px 0 20px 20px;}
#section1 img {
    object-fit: cover;
    height:115px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;}
#container-tuiles1 {
    display:flex;
    flex-direction: column;
    margin:0%;}
.Tuiles1 {
    padding:5px;
    width:90%;
    margin:auto;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 3px 3px #d9d9d9;}
.Description1 {
    height:80px;
    padding-top:5px;
    padding-left:15px;}
.Description1 i {
    margin-right: 2px;}
.nom1 {
    margin:0%;
    font-weight:bold;}
.prix1 {
    margin-bottom: 0%;
    margin-top:5px;}
.prix1 span {
    font-weight: bold;}
.note1 {
    margin-top:10px;
    font-size: 0.8em;
    color: #0065fc;}
.far {
    color:#d9d9d9;} 
                                                                                        /*SECTION 3*/
#section3 {
    width: 100%;}
#section3 h3 {
    font-size: 1.5em;;
    margin-left: 20px;}
#section3 img {
    height:135px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;}
#container-tuiles3 {
    display: flex;
    flex-direction: column;
    margin: auto;}
.bloc-Tuiles3 {
    height:190px;
    width:90%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #d9d9d9;}
.Tuiles3 {
    height:190px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 3px 3px #d9d9d9;
    border-radius: 10px;}
.Description3 {
    padding-left:20px;
    font-weight: bold;}
             
footer {                                                                    /*Bloc FOOTER*/
    display:flex;
    flex-direction: column;
    padding-left:5%;
    padding-top:45px;
    margin-top: 50px;
    background-color: #f2f2f2;}
footer span {
    font-weight: bold;}
.Rubriques {
    margin-top:20px;}
.A.propos {
    margin-left:0px;}
.Nos.hébergements {
    margin-top:40px}
.Assistance {
    margin-top:40px;}                                                 /*Fin FOOTER*/
}                                                                       /*Fin MediaQueries Mobile*/